.checked {
  text-decoration: line-through;
}
.input_form {
 width: 50%;
}

.navbar-brand {
  color: #b3b0b0b5 !important;
}

.main_heading {
  text-align: left;
  font-size: 2rem;
}
.main_container{
  margin-top: 2rem;
  width: 60% !important;
  margin-left: 25% !important;
}

.main_input_form{
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.main_input_form>input{
  border-radius: 0.25rem !important;
}


.main_input_form>button {
  margin-left: 2rem !important;
  border-radius: 0.25rem !important;

}
.list-group{
  margin-top: 3rem !important;
}
.list-group~button{
  margin-top: 1rem !important;
}
.list-group-item{
  display: inline-flex !important;
  justify-content: space-between !important;
  padding: 1rem !important;
}
.task_label{
  margin-right: auto;
  margin-left: 2rem;
}